* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mainlanding {
    width: 100%;
    height: 100vh;
    background: url("https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center/cover;
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

#mainlanding h1,
p {
    font-family: Montserrat;
    padding-left: 10px;
    padding-right: 10px;
}

#mainlanding h1 {
    margin-bottom: 60px;
    padding-top: 145px;
}

#mainlanding p {
    font-size: 22px;
}

.container-row {
    padding-top: 90px;
    height: 100vh;
}

.row {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

.category {
    display: inline-block;
    width: 253px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin: 15px;
}

.category:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.category img {
    border-radius: 15px;

}

.category p {
    font-family: Helvetica;
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

.js-search-results {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.container-results {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

.video-thumb {
    display: inline-block;
    width: 332px;
    max-height: 187px;
    position: relative;
}

.video-thumb:hover {
    cursor: pointer;
}

.video-thumb-image {
    opacity: 1;
    width: 100%;
    height: 187px;
    transition: .5 ease;
    backface-visibility: hidden;
}

.video-title-layer {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.video-thumb:hover img {
    opacity: 0.2;
}

.video-thumb:hover .video-title-layer {
    opacity: 1;
}

.video-title {
    width: 332px;
    height: 187px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 9px;
}

.video-player {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#header-home{
    position:fixed;
    top:15%;
    left:20px;
    z-index:9999;
    color:#fff;
    opacity:0.8;
    font-size: 45pt;    
}

#header-home:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.back-to-home {
    width: 100%;
    height: 60px;
    background-color: white;
    text-align: center;    
}

#results-home:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#results-home {
    font-size: 40px;
    margin-top: 8px;
}

@media only screen and (max-width: 600px) {
    #mainlanding p {
        padding-top: 260px;
    }
}

@media only screen and (max-width: 515px) {
    #mainlanding p {
        padding-top: 230px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 318px) {
    #mainlanding p {
        padding-top: 200px;
        font-size: 16px;

    }
}