*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#mainlanding {
    width: 100%;
    height: 400px;
    background-image: url("https://www.meetup.com/mu_static/en-US/4506f772b457b135bbf46d1a6bbeb365.jpg");
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.row {
    text-align: center;
}

.category {
    display: inline-block;
    height: 160px;
    width: 253px;
    background-image: url("https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg");
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
}

 #mainplayer {
    display: none;
 } 

.background-video {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
  
.background-video #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
  
.background-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.overlay .next-button {
    right: 10;
}

.overlay h1 {
    color: white;
}

#js-video-page {
    display: none;
}

.container {
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.splash-page {
    padding: 70px 0;
    text-align: center;
}

.welcome-page {
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
    text-align: center;
}

#header-home {
    position: fixed;
    left: 20px;
    top: 15%;
}

#js-previous-button {
    position: fixed;
    left: 20px;
    top: 50%;
    color: white;
    font-size: 50px;
}

#js-next-button {
    position: fixed;
    right: 60px;
    top: 50%;
    color: white;
    font-size: 50px;
}