*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#mainlanding {
    width: 100%;
    height: 668px;
    background: url("https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center/cover;
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

#mainlanding h1, p {
    font-family: Montserrat;
}

#mainlanding h1 {
    margin-bottom: 60px;
    padding-top: 145px;
}

.row {
    text-align: center;
}

.category {
    display: inline-block;
    height: 160px;
    width: 253px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin: 15px;
}

.category img {
    border-radius: 15px;
}

.category p {
    font-family: Helvetica;
    margin-bottom: 40px;
}

 #mainplayer {
    display: none;
 } 

.background-video {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
  
.background-video #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
  
.background-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#js-video-page {
    display: none;
}

#header-home {
    position: fixed;
    left: 15px;
    top: 15%;
    color: white;
    font-size: 40px;
}

#js-previous-button {
    position: fixed;
    left: 20px;
    top: 50%;
    color: white;
    font-size: 50px;
}

#js-next-button {
    position: fixed;
    right: 20px;
    top: 50%;
    color: white;
    font-size: 50px;
}